<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "validate" %>
  </div>
  <div class="input-field">
    <%= f.label :datevent %><br>
    <%= f.date_select :datevent, :class => "validate" %>
  </div>
  <div class="input-field">
    <%= f.label :adress %><br>
    <%= f.text_area :adress , :class => "materialize-textarea"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
