<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Datevent:</strong>
  <%= @event.datevent %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @event.adress %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
