<!DOCTYPE html>
<html>
<head>
  <title>Myrailslab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	 <nav>
    <div class="container">
      <a href="/" class="brand-logo">MyRailsLab</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Contact", new_contact_path %></li>
        <li><%= link_to "Contact us", contact_us_path %></li>
        <li><a href="sass.html">Events</a></li>
      </ul>
    </div>
  </nav>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
